body{
margin:0;
font-family:Tahoma;
background:#f4f4f4;
}

.top-header{
background:linear-gradient(135deg,#6f47e8,#9f87ff);
padding:25px;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

.user-info{
display:flex;
align-items:center;
gap:15px;
}

.top-profile{
width:80px;
height:80px;
border-radius:50%;
border:3px solid white;
object-fit:cover;
}

.top-icons button{
border:none;
background:rgba(255,255,255,0.15);
padding:10px 15px;
border-radius:20px;
color:white;
cursor:pointer;
margin-right:10px;
}

.layout{
display:flex;
}

.sidebar{
width:320px;
background:white;
min-height:100vh;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.menu-item{
padding:20px;
font-size:24px;
border-bottom:1px solid #eee;
cursor:pointer;
}

.submenu{
display:none;
background:#fafafa;
}

.submenu a{
display:block;
padding:15px 30px;
text-decoration:none;
color:#444;
border-bottom:1px solid #eee;
}

.submenu a:hover{
background:#f1ebff;
}

.show{
display:block;
}

.main-content{
flex:1;
padding:30px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
